@font-face {
  font-family: "iconfont"; /* Project id 3158374 */
  src: url('iconfont.woff2?t=1644904868036') format('woff2'),
       url('iconfont.woff?t=1644904868036') format('woff'),
       url('iconfont.ttf?t=1644904868036') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingxing:before {
  content: "\e617";
}

.icon-gouwuche:before {
  content: "\e622";
}

.icon-zonghebiao:before {
  content: "\e609";
}

.icon-fenli1:before {
  content: "\e608";
}

.icon-jiantou-copy:before {
  content: "\e632";
}

.icon-hongxin:before {
  content: "\e689";
}

.icon-suiji:before {
  content: "\e60b";
}

.icon-gouwucheman:before {
  content: "\e601";
}

.icon-yanjing:before {
  content: "\e8bf";
}

.icon-icon-prev:before {
  content: "\e600";
}

.icon-zuoyoujiantou:before {
  content: "\e67d";
}

.icon-jiantou_xiangyou:before {
  content: "\eb08";
}

.icon-xialajiantou:before {
  content: "\e638";
}

.icon-geren:before {
  content: "\e657";
}

.icon-gouwudai:before {
  content: "\ead9";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-sousuo:before {
  content: "\e60a";
}

